.\"
.\" This pic code has been produced by the <%= File.basename($0) %> command.
.\" Edit at your own risk.
.\"
.po <%= self.conf.margin.to_inch %>i
.in 0.0i
.\" The following numbers are empirically derived
.ll <%= self.conf.page_width.to_inch-(2*self.conf.margin.to_inch) %>i
.PS <%= self.conf.page_width.to_inch-(3*self.conf.margin.to_inch) %>i
scale=2.54;  # we run everything in centimeters here (not true but whatever)
maxpswid=maxpswid-2;
maxpsht=maxpsht-6.8;
copy "<%= File.join(::Rakr::Pic::Template::TEMPLATE_PATH, 'global') %>/keyb-pic.include"
Full_Frame: box invis wid maxpswid ht maxpsht
<%= self.conf.outer_frame_name %>: box invis wid Full_Frame.wid ht Full_Frame.ht/3 with .nw at Full_Frame.nw
"\s[+10]\fBFile: <%= File.basename(self.name) %>\fP\s0" with .s at <%= self.conf.outer_frame_name %>.n + (0, <%= self.conf.padding*5 %>)
keyboard(k1, <%= self.conf.outer_frame_name %>);
"\s[-6]\f[6]Version <%= ::Git::Describe.git %>\fP\s[0]" with .e at Full_Frame.se - (0,0.05) rjust
#
# end of header.pic.erb
#
