Par<%= par_no %>PG<%= ref %>: box ht PG<%= ref %>.ht/8 wid (PG<%= ref %>.wid/<%= d.conf.num_par_cols %>-<%= d.conf.padding*d.conf.num_par_cols %>) with .nw at PG<%= ref %>.nw + (<%= d.conf.padding %>+((PG<%= ref %>.wid/<%= d.conf.num_par_cols %>)*<%= par_col %>), -((PG<%= ref %>.ht/8)*<%= par_row + 1 %>))
"\s[-1]\f[6]<%= parameter_label %>\fP\s[0]" with .w at Par<%= par_no %>PG<%= ref %>.w + (<%= d.conf.padding %>, 0) ljust
"\s[-0]\f[8]<%= parameter_value %>\fP\s[0]" with .e at Par<%= par_no %>PG<%= ref %>.e - (<%= d.conf.padding %>, 0) rjust
