PG<%= pgpicname %>: box invis wid (<%= d.conf.outer_frame_name %>.wid/<%= d.conf.num_cols %>-<%= d.conf.padding %>) ht (<%= d.conf.outer_frame_name %>.ht/<%= d.conf.num_rows %>-<%= d.conf.padding %>) with .nw at <%= d.conf.outer_frame_name %>.nw + ((<%= d.conf.outer_frame_name %>.wid/<%= d.conf.num_cols %>)*<%= col %>, -(<%= d.conf.outer_frame_name %>.ht/<%= d.conf.num_rows %>)*<%= row %>)
"\s[-1]\fB<%= self.name %>\fP\s[0]" with .n at PG<%= pgpicname %>.n - (0, <%= d.conf.margin.to_inch/7.0 %>)
